/* Stylesheet */

footer {
	background-color: #663body;
	}
	
body {
	background: url("../img/bg.png");
	}		
p {
	font-family: 'Noto Sans', sans-serif;
	}

#logo {
	width: 50%;
	}


/*nav*/
li {
float: left;
  height: 50px;
  line-height: 50px;
  list-style: none;
	margin: 0 10px 0 10px;
  text-align: right;
  width: 150px;
}

nav a {
  color: #fff;
display: block;
  text-transform: uppercase;
  text-decoration: none;
}



/*chrome*/
#google a:hover {
	background: url("../img/chrome.png") no-repeat left center;
	}
	
/*Firefox*/
#mozilla a:hover {
	background: url("../img/firefox.png") no-repeat left center;
	}
	
/*safari*/
#apple a:hover {
	background: url("../img/safari.png") no-repeat left center;
}

/*opera*/
#opera a:hover {
	background: url("../img/opera.png") no-repeat left center;
}

/*microsoft*/
#microsoft a:hover {
	background: url("../img/ie.png") no-repeat left center;
}

/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}

